body {
	font-family: "Montserrat", sans-serif;
	background-color: whitesmoke;
    overflow-x: hidden;
}

header {
	font-family: "Raleway", sans-serif;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #eee;
	width: 100%;
	font-size: 0.8rem;
}

a {
	text-decoration: none;
}
