body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

header {
	font-family: "Raleway", sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
	background-color: #eee;
	width: 100%;
	font-size: 0.8rem;
}

a {
	text-decoration: none;
    outline: none;
}

.contacts-home_main {
	height: 80vh;
	display: grid;
	align-items: center;
}

.contacts-img {
	border-radius: 50%;
	width: 360px;
}

.contacts-home_container, .contacts-list_main, #add-form {
    margin-bottom: 70px;
}

.add-cancel-btn {
    margin-top: -70px;
}

.edit-cancel-btn {
    margin-top: -10px;
}

.contacts-dark_panel {
    height: 100vh;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm-delete_msg {
    width: 180px;
    margin-bottom: 210px;
}

